<!-- templates/faq/faq.html -->

{% extends 'game/base.html' %}  <!-- Предполагается, что у вас есть базовый шаблон base.html -->

{% block content %}
      <h1>{{ game_info.title }}</h1>
  <p>{{ game_info.description }}</p>

<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">

        <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
            Cities: <span class="badge bg-primary rounded-circle mx-2">{{ count_cities }}</span>
        </button>
        </h2>


        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">


            <div class="accordion" id="CityMenu">
                {% for city in cities %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="X-heading{{ city.id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#X-collapse{{ city.id }}" aria-expanded="false" aria-controls="X-collapse{{ city.id }}">
                        {{ city.faq_name }}
                    </button>
                    </h2>
                    <div id="X-collapse{{ city.id }}" class="accordion-collapse collapse" aria-labelledby="X-heading{{ city.id }}" data-bs-parent="#CityMenu">
                        <div class="accordion-body">{{ city.faq_description }}</div>
                    </div>
                </div>
                    {% endfor %}
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Items: <span class="badge bg-primary rounded-circle mx-2">{{ items_count }}</span>
            </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                <div class="accordion" id="ItemMenu">
                    {% for item in items %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="X-heading{{ item.id }}">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#X-collapse{{ item.id }}" aria-expanded="false" aria-controls="X-collapse{{ item.id }}">
                            {{ item.faq_title }}
                        </button>
                        </h2>
                        <div id="X-collapse{{ item.id }}" class="accordion-collapse collapse" aria-labelledby="X-heading{{ item.id }}" data-bs-parent="#ItemMenu">
                            <div class="accordion-body">{{ item.faq_description }}</div>
                        </div>
                    </div>
                        {% endfor %}
                </div>

            </div>
        </div>



        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                Mobs
            </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                Awaiting for Mobs
            </div>
        </div>
    </div>
</div>

{% endblock %}
