html {
  height: 100%;
}
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f7f1;
  color: black;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav section aside"
    "footer footer footer";
  grid-template-rows: 80px 1fr 1px;
  grid-template-columns: 15% 1fr 1%;
  grid-gap: 5px;
  height: 100vh;
  margin: 0 auto;
}

header {
  background-color: white;
  grid-area: header;
}

nav {
  background-color: white;
  grid-area: nav;
}

section {
  background-color: white;
  grid-area: section;
}

aside {
  background-color: white;
  grid-area: aside;
}

footer {
  background-color: white;
  grid-area: footer;
}

header, nav, section, aside, footer {
  padding: 5px;
}




.headline {
  text-align: center;
  line-height: normal;
  font-family: 'Playfair Display', serif;
  display: block;
  margin: 0 auto;
}
h2.title {
        font-weight: 400;
        font-style: italic;
        font-size: 22px;
    }

h3.writer {
        font-weight: 700;
        font-size: 12px;

        }

header{
    font-family: 'Roboto', serif;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;

}
.head{
    text-align: center;
    position: relative;
}

.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;

}
.weatherforcastbox{
    position: relative;
    width: 12%;
    left: 10px;
    border: 3px double #2f2f2f;
    padding: 10px 15px 10px 15px;
    line-height: 20px;
    display: inline-block;
    margin: 0 50px 20px -360px;
}



.map {
    display: grid;
    grid-template-columns: repeat(10, 15px);
}
.map-row {
    display: flex;
    justify-content: center;
}
.map-location {
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
  text-align: center;
}

.login-box h2 {
  padding: 0;
  color: #fff;
  margin: 20px auto;
}

.login-box h5 {
  padding: 0;
  color: #fff;
  margin: 20px auto;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin: 0 auto;
  letter-spacing: 4px;
}

.login-box .button_second {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin: 0 auto;
  letter-spacing: 4px
}

.login-box button:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}
