{% extends 'game/base.html' %}

{% block content %}
    {% load static %}
    <div class="card mb-5">
  <div class="card-body">
  <h2>Create Your Character</h2>
  <form method="POST" action="{% url 'create_character' %}">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="gender">Gender:</label>
    <select id="gender" name="gender" required>
      <option value="M">Male</option>
      <option value="F">Female</option>
    </select>
    <br>
    <label for="race">Race:</label>
    <select id="race" name="race" required>
      <option value="Human">Human</option>
      <option value="Elf">Elf</option>
      <option value="Dwarf">Dwarf</option>
      <option value="Orc">Orc</option>
      <option value="Goblin">Goblin</option>
      <option value="Zombie">Zombie</option>
      <option value="Skeleton">Skeleton</option>
      <option value="Centaur">Centaur</option>
      <option value="Gryphon">Gryphon</option>
      <option value="Nymph">Nymph</option>
      <option value="Vampire">Vampire</option>
      <option value="Gul">Gul</option>
      <option value="Cyborg">Cyborg</option>
      <option value="Robot">Robot</option>
      <option value="Mutant">Mutant</option>
      <option value="Cyborg Elf">Cyborg Elf</option>
      <option value="Goblin Geneticist">Goblin Geneticist</option>
      <option value="Orc Mechanic">Orc Mechanic</option>
      <option value="Humanoids">Humanoids</option>
      <!-- Add more race options as needed -->
    </select>
    <br>
      <label for="profession">Professions:</label>
    <select id="profession" name="profession" required>
      <option value="Warrior">Warrior</option>
      <option value="The Magician">The Magician</option>
      <option value="Scout">Scout</option>
      <option value="Engineer">Engineer</option>
      <option value="Healer">Healer</option>
      <option value="Merchant">Merchant</option>
      <option value="Artisan">Artisan</option>
      <option value="Traveller">Traveller</option>
      <option value="Researcher">Researcher</option>
      <!-- Add more race options as needed -->
    </select>
    <br>
    <button type="submit">Create</button>
  </form>
</div>
</div>
    <div class="row">
  <div class="col-4">
    <div class="list-group" id="list-tab" role="tablist">
        <h5 class="card-title">Race</h5>
      <a class="list-group-item list-group-item-action" id="list-human-list" data-bs-toggle="list" href="#Human" role="tab" aria-controls="list-human">Human</a>
      <a class="list-group-item list-group-item-action" id="list-elf-list" data-bs-toggle="list" href="#Elf" role="tab" aria-controls="list-elf">Elf</a>
      <a class="list-group-item list-group-item-action" id="list-dwarf-list" data-bs-toggle="list" href="#Dwarf" role="tab" aria-controls="list-dwarf">Dwarf</a>
      <a class="list-group-item list-group-item-action" id="list-orc-list" data-bs-toggle="list" href="#Orc" role="tab" aria-controls="list-orc">Orc</a>
      <a class="list-group-item list-group-item-action" id="list-goblin-list" data-bs-toggle="list" href="#Goblin" role="tab" aria-controls="list-goblin">Goblin</a>
      <a class="list-group-item list-group-item-action" id="list-zombie-list" data-bs-toggle="list" href="#Zombie" role="tab" aria-controls="list-zombie">Zombie</a>
      <a class="list-group-item list-group-item-action" id="list-skeleton-list" data-bs-toggle="list" href="#Skeleton" role="tab" aria-controls="list-skeleton">Skeleton</a>
      <a class="list-group-item list-group-item-action" id="list-centaur-list" data-bs-toggle="list" href="#Centaur" role="tab" aria-controls="list-centaur">Centaur</a>
      <a class="list-group-item list-group-item-action" id="list-gryphon-list" data-bs-toggle="list" href="#Gryphon" role="tab" aria-controls="list-gryphon">Gryphon</a>
      <a class="list-group-item list-group-item-action" id="list-nymph-list" data-bs-toggle="list" href="#Nymph" role="tab" aria-controls="list-nymph">Nymph</a>
      <a class="list-group-item list-group-item-action" id="list-vampire-list" data-bs-toggle="list" href="#Vampire" role="tab" aria-controls="list-vampire">Vampire</a>
      <a class="list-group-item list-group-item-action" id="list-gul-list" data-bs-toggle="list" href="#Gul" role="tab" aria-controls="list-gul">Gul</a>
      <a class="list-group-item list-group-item-action" id="list-cyborg-list" data-bs-toggle="list" href="#Cyborg" role="tab" aria-controls="list-cyborg">Cyborg</a>
      <a class="list-group-item list-group-item-action" id="list-robot-list" data-bs-toggle="list" href="#Robot" role="tab" aria-controls="list-robot">Robot</a>
      <a class="list-group-item list-group-item-action" id="list-mutant-list" data-bs-toggle="list" href="#Mutant" role="tab" aria-controls="list-mutant">Mutant</a>
      <a class="list-group-item list-group-item-action" id="list-cyborgelf-list" data-bs-toggle="list" href="#Cyborg_Elf" role="tab" aria-controls="list-cyborgelf">Cyborg Elf</a>
      <a class="list-group-item list-group-item-action" id="list-goblin-geneticist-list" data-bs-toggle="list" href="#Goblin_Geneticist" role="tab" aria-controls="list-goblin-geneticist">Goblin Geneticist</a>
      <a class="list-group-item list-group-item-action" id="list-orc-mechanic-list" data-bs-toggle="list" href="#Orc_Mechanic" role="tab" aria-controls="list-orc-mechanic">Orc Mechanic</a>
      <a class="list-group-item list-group-item-action" id="list-humanoids-list" data-bs-toggle="list" href="#Humanoids" role="tab" aria-controls="list-humanoids">Humanoids</a>
    </div>
  </div>
  <div class="col-8">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade" id="Human" role="tabpanel" aria-labelledby="list-human-list"></div>
      <div class="tab-pane fade" id="Elf" role="tabpanel" aria-labelledby="list-elf-list"></div>
      <div class="tab-pane fade" id="Dwarf" role="tabpanel" aria-labelledby="list-dwarf-list"></div>
      <div class="tab-pane fade" id="Orc" role="tabpanel" aria-labelledby="list-orc-list"></div>
      <div class="tab-pane fade" id="Goblin" role="tabpanel" aria-labelledby="list-goblin-list"></div>
      <div class="tab-pane fade" id="Zombie" role="tabpanel" aria-labelledby="list-zombie-list"></div>
      <div class="tab-pane fade" id="Skeleton" role="tabpanel" aria-labelledby="list-skeleton-list"></div>
      <div class="tab-pane fade" id="Centaur" role="tabpanel" aria-labelledby="list-centaur-list"></div>
      <div class="tab-pane fade" id="Gryphon" role="tabpanel" aria-labelledby="list-gryphon-list"></div>
      <div class="tab-pane fade" id="Nymph" role="tabpanel" aria-labelledby="list-nymph-list"></div>
      <div class="tab-pane fade" id="Vampire" role="tabpanel" aria-labelledby="list-vampire-list"></div>
      <div class="tab-pane fade" id="Gul" role="tabpanel" aria-labelledby="list-gul-list"></div>
      <div class="tab-pane fade" id="Cyborg" role="tabpanel" aria-labelledby="list-cyborg-list"></div>
      <div class="tab-pane fade" id="Robot" role="tabpanel" aria-labelledby="list-robot-list"></div>
      <div class="tab-pane fade" id="Mutant" role="tabpanel" aria-labelledby="list-mutant-list"></div>
      <div class="tab-pane fade" id="Cyborg_Elf" role="tabpanel" aria-labelledby="list-cyborgelf-list"></div>
      <div class="tab-pane fade" id="Goblin_Geneticist" role="tabpanel" aria-labelledby="list-goblin-geneticist-list"></div>
      <div class="tab-pane fade" id="Orc_Mechanic" role="tabpanel" aria-labelledby="list-orc-mechanic-list"></div>
      <div class="tab-pane fade" id="Humanoids" role="tabpanel" aria-labelledby="list-humanoids-list"></div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    loadRaceDescription('Human', '#Human'); // Loading the description of "Human" race into the element with id "Human"

    function loadRaceDescription(race, elementId) {
      $.ajax({
        url: "{% static 'description/race/' %}" + race + '.html',
        dataType: 'text',
        success: function(data) {
          $(elementId).html(data);
        }
      });
    }
  });
</script>
    <script>
  $(document).ready(function() {
    loadRaceDescription('Elf', '#Elf'); // Loading the description of "Elf" race into the element with id "Elf"

    function loadRaceDescription(race, elementId) {
      $.ajax({
        url: "{% static 'description/race/' %}" + race + '.html',
        dataType: 'text',
        success: function(data) {
          $(elementId).html(data);
        }
      });
    }
  });
</script>
        <script>
  $(document).ready(function() {
    loadRaceDescription('Dwarf', '#Dwarf'); // Loading the description of "Dwarf" race into the element with id "Dwarf"

    function loadRaceDescription(race, elementId) {
      $.ajax({
        url: "{% static 'description/race/' %}" + race + '.html',
        dataType: 'text',
        success: function(data) {
          $(elementId).html(data);
        }
      });
    }
  });
</script>
            <script>
  $(document).ready(function() {
    loadRaceDescription('Orc', '#Orc'); // Loading the description of "Orc" race into the element with id "Orc"

    function loadRaceDescription(race, elementId) {
      $.ajax({
        url: "{% static 'description/race/' %}" + race + '.html',
        dataType: 'text',
        success: function(data) {
          $(elementId).html(data);
        }
      });
    }
  });
</script>
                <script>
  $(document).ready(function() {
    loadRaceDescription('Goblin', '#Goblin'); // Loading the description of "Goblin" race into the element with id "Goblin"

    function loadRaceDescription(race, elementId) {
      $.ajax({
        url: "{% static 'description/race/' %}" + race + '.html',
        dataType: 'text',
        success: function(data) {
          $(elementId).html(data);
        }
      });
    }
  });
</script>
                    <script>
  $(document).ready(function() {
    loadRaceDescription('Zombie', '#Zombie'); // Loading the description of "Zombie" race into the element with id "Zombie"

    function loadRaceDescription(race, elementId) {
      $.ajax({
        url: "{% static 'description/race/' %}" + race + '.html',
        dataType: 'text',
        success: function(data) {
          $(elementId).html(data);
        }
      });
    }
  });
</script>
                    <script>
  $(document).ready(function() {
    loadRaceDescription('Skeleton', '#Skeleton'); // Loading the description of "Skeleton" race into the element with id "Skeleton"

    function loadRaceDescription(race, elementId) {
      $.ajax({
        url: "{% static 'description/race/' %}" + race + '.html',
        dataType: 'text',
        success: function(data) {
          $(elementId).html(data);
        }
      });
    }
  });
</script>
                    <script>
  $(document).ready(function() {
    loadRaceDescription('Centaur', '#Centaur'); // Loading the description of "Centaur" race into the element with id "Centaur"

    function loadRaceDescription(race, elementId) {
      $.ajax({
        url: "{% static 'description/race/' %}" + race + '.html',
        dataType: 'text',
        success: function(data) {
          $(elementId).html(data);
        }
      });
    }
  });
</script>
                    <script>
  $(document).ready(function() {
    loadRaceDescription('Gryphon', '#Gryphon'); // Loading the description of "Gryphon" race into the element with id "Gryphon"

    function loadRaceDescription(race, elementId) {
      $.ajax({
        url: "{% static 'description/race/' %}" + race + '.html',
        dataType: 'text',
        success: function(data) {
          $(elementId).html(data);
        }
      });
    }
  });
</script>
                    <script>
  $(document).ready(function() {
    loadRaceDescription('Nymph', '#Nymph'); // Loading the description of "Nymph" race into the element with id "Nymph"

    function loadRaceDescription(race, elementId) {
      $.ajax({
        url: "{% static 'description/race/' %}" + race + '.html',
        dataType: 'text',
        success: function(data) {
          $(elementId).html(data);
        }
      });
    }
  });
</script>
                    <script>
  $(document).ready(function() {
    loadRaceDescription('Vampire', '#Vampire'); // Loading the description of "Vampire" race into the element with id "Vampire"

    function loadRaceDescription(race, elementId) {
      $.ajax({
        url: "{% static 'description/race/' %}" + race + '.html',
        dataType: 'text',
        success: function(data) {
          $(elementId).html(data);
        }
      });
    }
  });
</script>
                    <script>
  $(document).ready(function() {
    loadRaceDescription('Gul', '#Gul'); // Loading the description of "Gul" race into the element with id "Gul"

    function loadRaceDescription(race, elementId) {
      $.ajax({
        url: "{% static 'description/race/' %}" + race + '.html',
        dataType: 'text',
        success: function(data) {
          $(elementId).html(data);
        }
      });
    }
  });
</script>
                    <script>
  $(document).ready(function() {
    loadRaceDescription('Cyborg', '#Cyborg'); // Loading the description of "Cyborg" race into the element with id "Cyborg"

    function loadRaceDescription(race, elementId) {
      $.ajax({
        url: "{% static 'description/race/' %}" + race + '.html',
        dataType: 'text',
        success: function(data) {
          $(elementId).html(data);
        }
      });
    }
  });
</script>
                    <script>
  $(document).ready(function() {
    loadRaceDescription('Robot', '#Robot'); // Loading the description of "Robot" race into the element with id "Robot"

    function loadRaceDescription(race, elementId) {
      $.ajax({
        url: "{% static 'description/race/' %}" + race + '.html',
        dataType: 'text',
        success: function(data) {
          $(elementId).html(data);
        }
      });
    }
  });
</script>
                    <script>
  $(document).ready(function() {
    loadRaceDescription('Mutant', '#Mutant'); // Loading the description of "Mutant" race into the element with id "Mutant"

    function loadRaceDescription(race, elementId) {
      $.ajax({
        url: "{% static 'description/race/' %}" + race + '.html',
        dataType: 'text',
        success: function(data) {
          $(elementId).html(data);
        }
      });
    }
  });
</script>
    <script>
  $(document).ready(function() {
    loadRaceDescription('Cyborg Elf', '#Cyborg_Elf'); // Loading the description of "Cyborg_Elf" race into the element with id "Cyborg_Elf"

    function loadRaceDescription(race, elementId) {
      $.ajax({
        url: "{% static 'description/race/' %}" + race + '.html',
        dataType: 'text',
        success: function(data) {
          $(elementId).html(data);
        }
      });
    }
  });
</script>
                    <script>
  $(document).ready(function() {
    loadRaceDescription('Goblin Geneticist', '#Goblin_Geneticist'); // Loading the description of "Goblin_Geneticist" race into the element with id "Goblin_Geneticist"

    function loadRaceDescription(race, elementId) {
      $.ajax({
        url: "{% static 'description/race/' %}" + race + '.html',
        dataType: 'text',
        success: function(data) {
          $(elementId).html(data);
        }
      });
    }
  });
</script>
                    <script>
  $(document).ready(function() {
    loadRaceDescription('Orc Mechanic', '#Orc_Mechanic'); // Loading the description of "Orc_Mechanic" race into the element with id "Orc_Mechanic"

    function loadRaceDescription(race, elementId) {
      $.ajax({
        url: "{% static 'description/race/' %}" + race + '.html',
        dataType: 'text',
        success: function(data) {
          $(elementId).html(data);
        }
      });
    }
  });
</script>
                    <script>
  $(document).ready(function() {
    loadRaceDescription('Humanoids', '#Humanoids'); // Loading the description of "Humanoids" race into the element with id "Humanoids"

    function loadRaceDescription(race, elementId) {
      $.ajax({
        url: "{% static 'description/race/' %}" + race + '.html',
        dataType: 'text',
        success: function(data) {
          $(elementId).html(data);
        }
      });
    }
  });
</script>
{% endblock %}