{% extends 'game/base.html' %}
{% load static %}

{% block content %}
<script src="{% static 'js/jquery-3.7.0.js' %}"></script>
<script>
    function updateMapFragment() {
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                const mapFragment = document.getElementById('map-fragment');
                mapFragment.innerHTML = xhr.responseText;
            }
        };
        xhr.open('GET', '{% url "map_fragment" %}', true);
        xhr.send();
    }

    setInterval(updateMapFragment, 5000);  // Обновление каждые 5 секунд (5000 миллисекунд)
</script>
    <script>
    function updateInfoLine() {
        const xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function() {
            if (xhr.readyState === 4 && xhr.status === 200) {
                const info_line = document.getElementById('info_line');
                info_line.innerHTML = xhr.responseText;
            }
        };
        xhr.open('GET', '{% url "info_line" %}', true);
        xhr.send();
    }

    setInterval(updateInfoLine, 5000);  // Обновление каждые 5 секунд (5000 миллисекунд)
</script>

    <h1>Личный кабинет пользователя</h1>

    {% if has_character %}


        {% include 'game/map_fragment.html' %}
        {% include 'game/info_line.html' %}


    {% else %}
        <p>Create a character to start playing the game!</p>
        <a href="{% url 'create_character' %}">Create Character</a>
    {% endif %}

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}
{% endblock %}
