<!-- game_index.html -->
{% extends 'game/base.html' %}

{% block content %}
    <h1>Личный кабинет пользователя</h1>

{% if has_character %}
    <h2>Welcome {{ character.name }}</h2>
    <p>Location: ({{ character.x }}, {{ character.y }})</p>

    <div class="map-container">
        {{ map_html|safe }}
    </div>
    <form method="POST">
  {% csrf_token %}
  <label>Move:</label><br>
  <button type="submit" name="move" value="w">Up</button><br>
  <button type="submit" name="move" value="a">Left</button>
  <button type="submit" name="move" value="s">Down</button>
  <button type="submit" name="move" value="d">Right</button>
</form>

  {% else %}
    <p>Create a character to start playing the game!</p>
    <a href="{% url 'create_character' %}">Create Character</a>
  {% endif %}


{% if error_message %}
  <p>{{ error_message }}</p>
{% endif %}
{% endblock %}
