<!-- index.html -->
{% extends 'game/base.html' %}

{% block content %}

<div class="head">
    <div>
       <header>Merging Realities News</header>
    </div>
    <div class="subhead">Edenburg, - Friday July 21, 2023 - The Daylight Alliance</div>
</div>



<div class="row row-cols-1 row-cols-md-2 g-4 m-1">
{% for news_item in news|dictsortreversed:"created_at" %}
<div class="col">

                <div class="card border-secondary h-100">

                    <div class="card-header d-flex justify-content-between align-items-center">
                        <div>
                            {{ news_item.author }}
                        </div>
                        <div>
                            <span class="badge rounded-pill bg-primary">{{ category.name }}</span>
                        </div>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ news_item.title }}</h5>
                        <p class="card-text">
                            {% if news_item.text|length > 300 %}
                                {{ news_item.text|slice:":300" }} >> <a href="{% url 'news_detail' news_id=news_item.id %}">More</a>
                            {% else %}
                                {{ news_item.text }}
                            {% endif %}
                        </p>
                        <a href="{% url 'news_detail' news_id=news_item.id %}" class="card-link">Read all</a>
                    </div>
                    <div class="card-footer text-muted">
                        {{ news_item.created_at }}
                    </div>
                </div>

</div>
    {% empty %}
    <p>No news available for this category</p>
{% endfor %}
</div>

{% endblock %}
