<!-- login.html -->
{% extends 'game/base.html' %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    <form method="POST">
    {% csrf_token %}
    <div class="login-box">
  <h2>Login</h2>
    <div class="user-box">
      <input type="text" name="username" placeholder="Username" required>
      <label>Username</label>
    </div>
    <div class="user-box">
      <input type="password" name="password" placeholder="Password" required>
      <label>Password</label>
    </div>

    <button type="submit">Login</button>
        <h5>If you don't have an account</h5>
        <a class="button_second" aria-current="page" href="{% url 'register' %}">Register</a>

    </div>
  </form>
{% endblock %}
